<title>Austin Nadler - Projects</title>
<div class="text-center">
    <br>
    <div>
        <h1>Projects</h1>
    </div>    
    <a type="button" class="btn col-md-2 overflow btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span id="filter">All</span>
    </a>
    <ul class="dropdown-menu pull-right">
        <li class="dropdown-header">Filter by company</li>
        <li><a ng-click="showAllProjects()" class="dropdown-item" href="#!/projects">All</a></li>
        <li ng-repeat="company in companies">
            <a ng-click="showProjects(company.id, company.name)" class="dropdown-item" href="#!/projects">
                {{company.name}}
            </a>
        </li>
    </ul>
</div>
<div class="container">
    <div ng-repeat="company in companies" id="div{{company.id}}">
        <br>
        <div class="text-center">
            <img ng-if="company.image" src="assets/img/{{company.image}}">
            <h1 ng-if="!company.image">{{company.name}}</h1>
        </div>
        <div>
            <p ng-repeat="bio in company.bio" ng-class="{'text-center': company.projects.length == 0}">{{bio}}</p>
        </div>
        <div class="row">
            <div ng-repeat="project in company.projects" class="col-md-4">
                <div class="inner shadow">
                    <h4>{{project.name}}</h4>
                    <p ng-repeat="description in project.description">{{description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>