<title>Austin Nadler - Projects</title>
<header>
    <nav>
        <a href="#!/home" class="nav-button fas fa-home"></a>
        <a href="#!/projects" class="nav-button nav-button-current fas fa-hammer"></a>
        <a href="#!/extras" class="nav-button" style="float: right;"></a>
    </nav>
</header>
<div class="center">
    <h1>Projects</h1>
</div>
<div class="center">
    <button class="btn-fixed" style="background: green;" id="btnAll" ng-click="showAllProjects()">All</button>
    <button class="btn-fixed" id="btnAmeren" ng-click="showAmerenProjects()">Ameren</button>
    <button class="btn-fixed" id="btnTrue" ng-click="showTrueProjects()">True Mfg.</button>
    <button class="btn-fixed" id="btnInd" ng-click="showIndProjects()">Independent</button>
</div>
<br>
<div id="divAmeren">
    <div class="center">
        <img src="assets/img/ameren_logo.png">
        <p ng-repeat="b in amerenBio" class="card-noshadow">{{::b}}</p>
    </div>
    <div class="center">
        <div ng-repeat="p in amerenProjects" class="card grid text-left">
            <h2>{{::p.name}}</h2>
            <p ng-repeat="d in p.desc">{{::d}}</p>
        </div>
    </div>
</div>
<br>
<div id="divTrue">
    <div class="center">
        <img src="assets/img/truemfg_logo.png">
        <p ng-repeat="b in trueBio" class="card-noshadow">{{::b}}</p>
    </div>
    <div class="center">
        <div ng-repeat="p in trueProjects" class="card grid text-left">
            <h2>{{::p.name}}</h2>
            <p ng-repeat="d in p.desc">{{::d}}</p>
        </div>
    </div>   
</div>
<div id="divInd">
    <div class="center">
        <h1>Independent</h1>
        <p ng-repeat="b in indBio" class="card-noshadow">{{::b}}</p>
        <p>You can see the source code for my personal projects at my <a href="https://github.com/austinnadler">GitHub</a>.</p>
    </div> 
    <div class="center"> 
        <div ng-repeat="p in personalProjects" class="card grid text-left">
            <h2>{{::p.name}}</h2>
            <p ng-repeat="d in p.desc">{{::d}}</p>
        </div>
    </div> 
</div>
