<title>Austin Nadler - Home</title>
<div class="container text-center">
    <div class="col-12 shadow">
        <img src="assets/img/me.png">
        <h2 class="h2">Austin M Nadler</h2>
        <p>{{::jobTitle}}</p>
        <a href="https://siue.edu"><img src="assets/img/siue.png"></a>
        <div>
            <p ng-repeat="b in bio">{{::b}}</p>
        </div>
        <div>
            <a class="btn btn-primary" href="https://www.linkedin.com/in/austin-nadler-a011b41a7/" target="_blank">LinkedIn</a>
            <a class="btn btn-primary" href="assets/files/AustinNadlerResume.pdf" target="_blank">Resume</a>
            <a class="btn btn-primary" href="https://github.com/austinnadler" target="_blank">GitHub</a>
        </div>
    </div>
    <div class="col-12 shadow">
        <h1>Experience</h1>
        <div><a class="btn btn-primary" id="btnProjects" href="#!/projects">Projects</a></div>
        <div ng-repeat="company in companies">
            <br>
            <a href="{{company.url}}">
                <img src="assets/img/{{company.image}}">
            </a>
            <p>{{company.description}}</p> 
        </div>
    </div>
</div>