<title>Austin Nadler - Home</title>
<div class="container text-center">
    <div class="col-12 shadow">
        <img src="assets/img/me.png">
        <h2 class="h2">Austin M Nadler</h2>
        <p>{{::jobTitle}}</p>
        <a href="https://siue.edu"><img src="assets/img/siue.png"></a>
        <div>
            <p ng-repeat="b in bio">{{::b}}</p>
        </div>
        <div>
            <a ng-repeat="link in links" class="btn btn-primary" href="{{::link.url}}" target="_blank"><i class="fa fa-{{::link.icon}}"></i>&nbsp;{{::link.title}}</a>
        </div>
    </div>
    <div class="col-12 shadow">
        <h1>Experience</h1>
        <div><a class="btn btn-primary" id="btnProjects" href="#!/projects"><i class="fa fa-hammer"></i>&nbsp;Projects</a></div>
        <div ng-repeat="company in companies">
            <br>
            <a href="{{::company.url}}" target="_blank">
                <img src="assets/img/{{::company.image}}">
            </a>
            <p>{{::company.description}}</p> 
        </div>
    </div>
</div>