<title>Austin Nadler - Home</title>
<div class="container text-center">
    <div class="col-12 shadow">
        <img src="assets/img/me.jpg">
        <h2 class="h2">Austin Nadler</h2>
        <p>{{::jobTitle}}</p>
        <img src="assets/img/siue.png">
        <div>
            <p ng-repeat="b in bio">{{::b}}</p>
        </div>
        <div>
            <a ng-repeat="link in links" class="btn" href="{{::link.url}}" target="_blank"><i class="fa fa-{{::link.icon}}"></i>&nbsp;{{::link.title}}</a>
        </div>
    </div>
    <!-- <div class="row"> -->
        <div class="col-12 shadow">
            <h1>Certifications</h1>
            <div class="row">
                <div class="col-md-6 text-left">
                    <h5 class="text-center">ServiceNow</h5>
                    <ul>
                        <li ng-repeat="cert in snCertifications">
                            {{::cert}}
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 text-left">
                    <h5 class="text-center">General</h5>
                    <ul>
                        <li ng-repeat="cert in genCertifications">
                            {{::cert}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="col-12 shadow">
            <h1>Skills</h1>
            <div ng-repeat="skill in skills">
                {{::skill}}
            </div>
        </div> -->
    <!-- </div> -->
    <div class="col-12 shadow">
        <h1>Experience</h1>
        <div><a class="btn" id="btnProjects" href="#!/projects"><i class="fa fa-hammer"></i>&nbsp;Projects</a></div>
        <div ng-repeat="company in companies">
            <br>
            <a href="{{::company.url}}" target="_blank">
                <img src="assets/img/{{::company.image}}">
            </a>
            <p>{{::company.description}}</p> 
        </div>
    </div>
</div>