.nav-button {
    background-color: #0099ff;
    color: white;
    padding: 20px;
    text-decoration: none;
}

.nav-button-current {
    background-color: white;
    color: #0099ff;
}

.center {
    text-align: center
}

.card {
    width: 85%;
    margin: auto;
    margin-top: 10px;
    margin-bottom:  10px;
    padding: 20px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 5px;
}

.btn:hover, .btn-fixed {
    cursor: pointer;
}

.btn {
    background-color: #0099ff;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.btn-fixed {
    background-color: #0099ff;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    border: none;
    outline: none;
    margin: 5px;
}

img {
    width: 40%;
    border-radius: 5px;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #0099ff;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

a {
    color: #0099ff;
}

@media (min-width: 800px) {

/* Applies only to screens larger than 800px */

    img {
        width: 200px;
        border-radius: 5px;
    }

}