<title>Austin Nadler - Extras</title>
<div class="container text-center" style="box-shadow: none;">
    <br>
    <h1>Extras</h1>
    <p>Wanna play tic-tac-toe?</p>
    <table>
        <tr>
            <td id="0" ng-click="mark($event)">{{board[0]}}</td>
            <td id="1" ng-click="mark($event)">{{board[1]}}</td>
            <td id="2" ng-click="mark($event)">{{board[2]}}</td>
        </tr>
        <tr>
            <td id="3" ng-click="mark($event)">{{board[3]}}</td>
            <td id="4" ng-click="mark($event)">{{board[4]}}</td>
            <td id="5" ng-click="mark($event)">{{board[5]}}</td>
        </tr>
        <tr>
            <td id="6" ng-click="mark($event)">{{board[6]}}</td>
            <td id="7" ng-click="mark($event)">{{board[7]}}</td>
            <td id="8" ng-click="mark($event)">{{board[8]}}</td>
        </tr>
    </table>
</div>
