<title>Austin Nadler - Extras</title>
<header>
    <nav>
        <a href="#!/home" class="nav-button fas fa-home"></a>
        <a href="#!/projects" class="nav-button nav-button fas fa-hammer"></a>
        <a href="#!/extras" class="nav-button nav-button-current fas fa-box" style="float: right;"></a>
    </nav>
</header>
<div class="card text-center" style="box-shadow: none;">
    <h1 class="bold">Extras</h1>
    <p>You really weren't supposed to get here. Oh well, these are just some thing I'm messing with.</p>
    <table>
        <tr>
            <td id="0" ng-click="mark($event)">{{board[0]}}</td>
            <td id="1" ng-click="mark($event)">{{board[1]}}</td>
            <td id="2" ng-click="mark($event)">{{board[2]}}</td>
        </tr>
        <tr>
            <td id="3" ng-click="mark($event)">{{board[3]}}</td>
            <td id="4" ng-click="mark($event)">{{board[4]}}</td>
            <td id="5" ng-click="mark($event)">{{board[5]}}</td>
        </tr>
        <tr>
            <td id="6" ng-click="mark($event)">{{board[6]}}</td>
            <td id="7" ng-click="mark($event)">{{board[7]}}</td>
            <td id="8" ng-click="mark($event)">{{board[8]}}</td>
        </tr>
    </table>
</div>
